body{
  font-family: Revalia;
  font-size: 2em;
}
.scoreboard {
  width: 100%;
  margin: 0 auto;
}
.scoreboard div{
  float: left;
  padding: 10px;
  padding-left: 2%;
  color: #FFF;
  background-color: #194BF4;
}

.board{
  padding-right: 20px;
}

/*
7D799A
11437D
4947F0
194BF4
*/